<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8" />
		<title>jsoup-sample</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">		
		<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js'></script>
	</head>
	<body ng-app='myApp' ng-controller='mainCtrl'>
		<nav class="navbar navbar-inverse">
			<div class="navbar-header">
		      <a class="navbar-brand" href="#">高鐵班次查詢</a>
		    </div>
		</nav>
		<div id="searchBar" class="container-fluid">		
			<div class="row">
				<div class="col-sm-3 col-md-3 col-lg-3"></div>
				<div class="col-sm-8 col-md-8 col-lg-8">				
				請輸入選擇條件
				</div>
			</div>
		</div>
		<div id="searchBar" class="container-fluid">		
			<div class="row">
				<div class="col-sm-3 col-md-3 col-lg-3"></div>
				<div class="col-sm-8 col-md-8 col-lg-8">				
					<select id="StartStation" name="StartStation" ng-model="queryKey.startStation">
						<option value='' > 請選擇</option>
						<option value='2f940836-cedc-41ef-8e28-c2336ac8fe68' > 南港站</option>
						<option value='977abb69-413a-4ccf-a109-0272c24fd490' > 台北站</option>
						<option value='e6e26e66-7dc1-458f-b2f3-71ce65fdc95f' > 板橋站</option>
						<option value='fbd828d8-b1da-4b06-a3bd-680cdca4d2cd' > 桃園站</option>
						<option value='a7a04c89-900b-4798-95a3-c01c455622f4' > 新竹站</option>
						<option value='e8fc2123-2aaf-46ff-ad79-51d4002a1ef3' > 苗栗站</option>
						<option value='3301e395-46b8-47aa-aa37-139e15708779' > 台中站</option>
						<option value='38b8c40b-aef0-4d66-b257-da96ec51620e' > 彰化站</option>
						<option value='5f4c7bb0-c676-4e39-8d3c-f12fc188ee5f' > 雲林站</option>
						<option value='60831846-f0e4-47f6-9b5b-46323ebdcef7' > 嘉義站</option>
						<option value='9c5ac6ca-ec89-48f8-aab0-41b738cb1814' > 台南站</option>
						<option value='f2519629-5973-4d08-913b-479cce78a356' > 左營站</option>
					</select>
					<select id="StartStation" name="endStation" ng-model="queryKey.endStation">
						<option value='' > 請選擇</option>
						<option value='2f940836-cedc-41ef-8e28-c2336ac8fe68' > 南港站</option>
						<option value='977abb69-413a-4ccf-a109-0272c24fd490' > 台北站</option>
						<option value='e6e26e66-7dc1-458f-b2f3-71ce65fdc95f' > 板橋站</option>
						<option value='fbd828d8-b1da-4b06-a3bd-680cdca4d2cd' > 桃園站</option>
						<option value='a7a04c89-900b-4798-95a3-c01c455622f4' > 新竹站</option>
						<option value='e8fc2123-2aaf-46ff-ad79-51d4002a1ef3' > 苗栗站</option>
						<option value='3301e395-46b8-47aa-aa37-139e15708779' > 台中站</option>
						<option value='38b8c40b-aef0-4d66-b257-da96ec51620e' > 彰化站</option>
						<option value='5f4c7bb0-c676-4e39-8d3c-f12fc188ee5f' > 雲林站</option>
						<option value='60831846-f0e4-47f6-9b5b-46323ebdcef7' > 嘉義站</option>
						<option value='9c5ac6ca-ec89-48f8-aab0-41b738cb1814' > 台南站</option>
						<option value='f2519629-5973-4d08-913b-479cce78a356' > 左營站</option>
					</select>
					<input type="date"  ng-model="queryKey.searchDate"/>
					<select id="SearchTime" name="SearchTime" ng-model="queryKey.searchTime" >
						<option value='' > 請選擇</option>
						<option value="05:00">05:00</option>
						<option value="05:30">05:30</option>
						<option value="06:00">06:00</option>
						<option value="06:30">06:30</option>
						<option value="07:00">07:00</option>
						<option value="07:30">07:30</option>
						<option value="08:00">08:00</option>
						<option value="08:30">08:30</option>
						<option value="09:00">09:00</option>
						<option value="09:30">09:30</option>
						<option value="10:00">10:00</option>
						<option value="10:30">10:30</option>
						<option value="11:00">11:00</option>
						<option value="11:30">11:30</option>
						<option value="12:00">12:00</option>
						<option value="12:30">12:30</option>
						<option value="13:00">13:00</option>
						<option value="13:30">13:30</option>
						<option value="14:00">14:00</option>
						<option value="14:30">14:30</option>
						<option value="15:00">15:00</option>
						<option value="15:30">15:30</option>
						<option value="16:00">16:00</option>
						<option value="16:30">16:30</option>
						<option value="17:00">17:00</option>
						<option value="17:30">17:30</option>
						<option value="18:00">18:00</option>
						<option value="18:30">18:30</option>
						<option value="19:00">19:00</option>
						<option value="19:30">19:30</option>
						<option value="20:00">20:00</option>
						<option value="20:30">20:30</option>
						<option value="21:00">21:00</option>
						<option value="21:30">21:30</option>
						<option value="22:00">22:00</option>
						<option value="22:30">22:30</option>
						<option value="23:00">23:00</option>
						<option value="23:30">23:30</option>
					</select>
					<select id="SearchWay" name="SearchWay" ng-model="queryKey.searchWay">
						<option value="DepartureInMandarin"> 出發</option>
						<option value="ArrivalInMandarin"> 抵達</option>
					</select> 
					<input type="button" value="submit" ng-click="search()" class="btn btn-primary btn-sm"/>
				</div>
			</div>
		</div>
		
		<div id="result" class="container-fluid">
			<div class="row content" >			
				<div class="col-sm-3 col-md-3 col-lg-3"></div>
				<div ng-show="hasResult" class="col-sm-8 col-md-8 col-lg-8">
					<div class="row content" >			
						<span>共有 {{totalSize}} 筆結果</span>
							<table class="table table-hover table-bordered" >
								<thead>
									<tr>
										<th class="col-md-2">車次</th>
										<th class="col-md-3">出發時間</th>
										<th class="col-md-3">抵達時間</th>
										<th class="col-md-3">行車時間</th>
									</tr>
								</thead>	
									<tr ng-repeat="train in list">
										<td>{{ train.no }}</td>
										<td>{{ train.departure }}</td>
										<td>{{ train.arrival }}</td>
										<td>{{ train.duration }}</td>
									</tr>
							</table>
  				</div>
			</div>	
		</div>
  		</div>
	</body>
</html>
<script>
var app = angular.module('myApp', []);

app.controller('mainCtrl', ['$scope', 'recordService', '$log', function ($scope, recordService, $log) {
	$scope.hasResult = false;
	$scope.queryKey = {};
	$scope.queryKey.searchDate = new Date();
	
	$scope.queryKey.searchTime = getCurrentTime($scope.queryKey.searchDate);
	$scope.search = function () {
		recordService.search($scope.queryKey).
		then(function(data) {
  			$scope.list = data;
  			$scope.totalSize = data.length;
  			if (data.length>0) {
  				$scope.hasResult = true;
  			}
			angular.forEach($scope.list, function(value) {
			  value.index
			});

		});
				
	}

}]);

app.service('recordService', function($log, $q, $http) {
    this.search = function(queryKey) {
        var deferred = $q.defer();
        $http({
			method: 'POST',
		 	url: '/s/search',
		 	data: queryKey,
		}).success(function(data) { 
          	deferred.resolve(data);
        }).error(function(msg, code) {
          	deferred.reject(msg);
          	$log.error(msg, code);
       	});

     	return deferred.promise;
    }

});


function getCurrentTime (currentTime) {

	var currentHour = currentTime.getHours();
	var currentMinute = currentTime.getMinutes();

	if (currentMinute > 0 && currentMinute < 30)
		currentMinute = 30;
	else if (currentMinute > 30) {
		currentMinute = "00";
		currentHour = parseInt(currentHour) + 1;
	}

	if (currentHour < 6) {
		currentHour = "06";
		//currentMinute = 30;
		currentMinute = "00"; //2013.09.25 搜尋起始期間改為06:00
	}

	if (currentHour.length == 1) {
		currentHour = "0" + currentHour;
	}

	return currentHour + ":" + currentMinute;

}





</script>